* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

main {
    display: inline-block;
    max-width: 69.5vw;
    width: 100%;
}

aside {
    display: inline-block;
    max-width: 29.5vw;
    width: 100%;
}