* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: rgb(74, 123, 0, 0.15);
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.body>.main-panel {
    width: 80vw;
    padding: 0.5em;
}

.body>.side-panel {
    width: 20vw;
    padding: 0.5em;
}

.url {
    height: 100%;
    width: 100%;
}

.submit-button {
    margin: 0em 1em;
    width: 3em;
    height: 100%;

}

.chapter-card {
    padding: 0.5em;
    border: 1px solid grey;
}

.chapter-title {
    display: inline-block;
    padding: 1em;
}

.ribbon {
    padding-bottom: 1em;
}

.navbar {
    height: 2em;
    align-items: center;
}

.logo {
    height: 100%;
    margin-right: 0.5em;
}